<?xml version="1.0"?>
<launch>

  <arg name="node_required" default="false"    />
  <arg name="node_name"     default="node"     />

  <!--***************************************-->
  <!-- Hi-Ros Skeleton Visualizer Parameters -->
  <!--***************************************-->
  <arg name="seed"                      default="0"            />
  <arg name="lifetime"                  default="0.1"          />
  <arg name="alpha"                     default="1.0"          />
  <arg name="input_skeleton_topic"      default=""             />
  <arg name="output_image_topic"        default="skel_image"   />
  <arg name="output_marker_array_topic" default="skel_markers" />

  <!--*********************************-->
  <!-- Hi-Ros Skeleton Visualizer Node -->
  <!--*********************************-->
  <node pkg="hiros_skeleton_visualizer" type="hiros_skeleton_visualizer" ns="hiros/sv" name="$(arg node_name)" output="screen" required="$(arg node_required)">
    <param name="node_name"                       type="str"        value="$(arg node_name)"                     />
    <param name="seed"                            type="int"        value="$(arg seed)"                          />
    <param name="lifetime"                        type="double"     value="$(arg lifetime)"                      />
    <param name="alpha"                           type="double"     value="$(arg alpha)"                         />
    <param name="input_skeleton_topic"            type="str"        value="$(arg input_skeleton_topic)"          />
    <param name="output_image_topic"              type="str"        value="$(arg output_image_topic)"            />
    <param name="output_marker_array_topic"       type="str"        value="$(arg output_marker_array_topic)"     />
  </node>

</launch>
