<?xml version="1.0"?>
<launch>

  <arg name="node_name"                       default="node_01" />

  <!--*************************************************************-->
  <!-- Hi-Ros Skeleton Visualizer Node: Parameters override and Run-->
  <!--*************************************************************-->
  <include file="$(find hiros_skeleton_visualizer)/launch/hiros_skeleton_visualizer_default.launch">
    <arg name="node_required"                 value="false"                 />
    <arg name="node_name"                     value="$(arg node_name)"      />

    <arg name="input_skeleton_topic"          value="/hiros/opw_3d/kinect_02/qhd/opw3d_detection" />
    <arg name="output_image_topic"            value="skel_img"                                    />
    <arg name="output_marker_array_topic"     value="skel_mrk"                                    />
  </include>

</launch>
